[submodule "themes/anubis"]
	path = themes/anubis
	url = git@github.com:leonhfr/hugo-theme-anubis.git
[submodule "themes/codex"]
	path = themes/codex
	url = git@github.com:jakewies/hugo-theme-codex.git
[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
